body {
    background-color: black;

    margin: 0;
    padding: 0;
}

header {

    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1em 0;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, rgb(0, 183, 255) 1%, #00d9ff00 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, rgb(0, 174, 255) 0%, #FF0000FF 100%);
}

.song-list button {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    background-color: black;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px
}

.menu {
    list-style-type: none;

}

a {
    display: flex;
    color: white;
}

.regresar {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, rgb(0, 140, 255) 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);

    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}